<template>
  <form submit.delegate="save()" novalidate>
    <md-card>
      <h2>Configuration</h2>
      <ul md-collapsible="accordion: true; popout: true;">
        <li>
          <div class="collapsible-header">Admins</div>
          <div class="collapsible-body">
            <fieldset>
              <table class="striped">
                <thead>
                  <tr>
                      <th data-field="id">Admin</th>
                      <th data-field="name">Active</th>
                      <th data-field="price">Edit</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Alvin</td>
                    <td>yes</td>
                    <td> <i class="small material-icons">settings</i></td>
                  </tr>
                  <tr>
                    <td>mark</td>
                    <td>No</td>
                    <td> <i class="small material-icons">settings</i></td>
                  </tr>
                  <tr>
                    <td>Jonathan</td>
                    <td>yes</td>
                    <td> <i class="small material-icons">settings</i></td>
                  </tr>
                </tbody>
              </table>
              <div class="actions">
               <button class="right" md-button if.bind="!isFirstLogin" click.trigger="backHome()" type="button">
                <span class="hide-on-small-only">Create</span>
               </button>
             </div>
            <fieldset>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Period</div>
          <div class="collapsible-body">
            <profile-update-skills user.bind="user"></profile-update-skills>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Positions</div>
          <div class="collapsible-body">
            <profile-update-skills user.bind="user"></profile-update-skills>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Competences</div>
          <div class="collapsible-body">
            <profile-update-skills user.bind="user"></profile-update-skills>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Weight</div>
          <div class="collapsible-body">
            <profile-update-skills user.bind="user"></profile-update-skills>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Locations</div>
          <div class="collapsible-body">
            <profile-update-skills user.bind="user"></profile-update-skills>
          </div>
        </li>
       </ul>
    </md-card>
  </form>
</template>
