<template>
  <section class="container">
    <div class="row">
      <div class="col s12 m4">
        <md-card>
          <div class="row">
            <h4>Filters</h4>
            <br/>
            <require from="./search-filters.html"></require>
            <form class="col s12">
              <search-filters callsearch.call="search()" search-nomination.bind="searchNomination" competencies.bind="competencies" statuses.bind="statuses"
                advanced-options.bind="dataPickerOptions"></search-filters>
            </form>
          </div>
        </md-card>
      </div>
      <require from="./review-nomination"></require>
      <review-nomination reload.call="search()" nomination.bind="selectedNomination" view-model.ref="reviewNominationViewModel"
        review-nomination.ref="reviewNominationModal">
      </review-nomination>
      <require from="./review-recognized"></require>
      <review-recognized nomination.bind="selectedNomination" nominations.bind="recognizedNominations" review-recognized.ref="reviewRecognizedModal">
      </review-recognized>
      <div class="col m8">
        <md-card>
          <h4>Nominations</h4>
          <div class="row">
            <button md-button if.bind="isExportVisible" click.delegate="exportToExcel('table-nomination')">Export<i class="material-icons right">import_export</i></button>
            <require from="./nomination-list.html"></require>
            <nomination-list review-recognized.call="reviewRecognized(nomination)" 
                review-nomination.call="reviewNomination(nomination)"
                review-rejected.call="reviewRejected(nomination)" nominations.bind="groupedNominations"></nomination-list>
          </div>
        </md-card>
      </div>
    </div>
  </section>
</template>