<template bindable="router">
  <require from="./nav-bar-authenticated"></require>
  <require from="./nav-bar-anonymous"></require>
  <nav-bar-authenticated logout.call="logout()" if.bind="isAuthenticated"
      notification-allowed.bind="notificationAllowed" is-admin.bind="isAdmin"
      is-first-login.bind="isFirstLogin" change-language.call="changeLanguage(language)"
      single-headquarter.bind="singleHeadquarter" headquarters.bind="headquarters"
      selected-headquarter.bind="selectedHeadquarter" is-first-login.bind="isFirstLogin"
      change-headquarter.call="changeHeadquarter(headquarter)">
  </nav-bar-authenticated>
  <nav-bar-anonymous if.bind="!isAuthenticated" change-language.call="changeLanguage(language)">
  </nav-bar-anonymous>
</template>
