<template>
  <h4 class="hintsForRatingsTitle">
      How can I set a good rating?
  </h4>
  <p>
    Basic <br>
    <i class="left material-icons">star</i>
    <i class="left material-icons">star_border</i>
    <i class="left material-icons">star_border</i>
    <i class="left material-icons">star_border</i>
    <i class="left material-icons">star_border</i>
    <br>
    Basic Knowledge about the technology, most of the cases less than 1 year of experience.
  </p>
  <p>
    Intermediate <br>
    <i class="left material-icons">star</i>
    <i class="left material-icons">star</i>
    <i class="left material-icons">star</i>
    <i class="left material-icons">star_border</i>
    <i class="left material-icons">star_border</i>
    Intermediate Knowledge about the technology, most of the cases between 1 to 3 years of experience.
  </p>
  <p>
    Advanced <br>
    <i class="left material-icons">star</i>
    <i class="left material-icons">star</i>
    <i class="left material-icons">star</i>
    <i class="left material-icons">star</i>
    <i class="left material-icons">star</i>
    <br>
    Advanced Knowledge about the technology, most of the cases more than 3 years of experience.
  </p>
</template>