<template bindable="user, locations, headquarterName">
  <fieldset class="profile-secondary">

    <label for="userHeadquarter">Your headquarter</label>
    <brainy-input md-brainy-read-only = "true"
      md-brainy-value.bind="headquarterName" >
    </brainy-input>
    <br>

    <label for="userPosition">Your position</label>
    <brainy-input  md-brainy-read-only = "true"
      md-brainy-value.bind="user.position">
    </brainy-input>
    <br>

    <label for="userLocation">Your location*</label>
    <select required md-select md-select.ref="selectLocation"
        value.two-way="user.location" id="userLocation">
      <option value="" disabled selected>Choose your location</option>
      <option repeat.for="location of locations | objectKeys" value.bind="location">
        ${location}
      </option>
    </select>
    <br>

    <label for="userEnglishlevel">Your english level</label>
    <brainy-input md-brainy-read-only = "true"
      md-brainy-value.bind="user.englishLevel">
    </brainy-input>
    <br>

    <brainy-input md-label="Your skype*" md-brainy-value.bind="user.skype"
        md-brainy-pattern="^([a-z]+:)?([a-z][\w.-]{5,})$"
        md-validate="true" md-brainy-max-length="37" md-required="true"
        md-validate-error="Please enter a valid skype user"></brainy-input>
    <br>

    <brainy-input md-label="Tell your strenghts/desires"
        md-brainy-value.bind="user.summary" md-type="textarea"
        md-validate="true" md-brainy-max-length="350">
    </brainy-input>
  </fieldset>
</template>
